name: 游 Deploy
on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  lint:
    name: 游빘 ESLint
    runs-on: ubuntu-latest
    steps:
      - name: 游 Checkout repo
        uses: actions/checkout@v4

      - name: 游릭 Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: 游닌 Download deps
        uses: bahmutov/npm-install@v1

      - name: 游빘 Lint
        run: npm run lint

  typecheck:
    name: 游댧 TypeScript
    runs-on: ubuntu-latest
    steps:
      - name: 游 Checkout repo
        uses: actions/checkout@v4

      - name: 游릭 Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: 游닌 Download deps
        uses: bahmutov/npm-install@v1

      - name: 游댧 Type check
        run: npm run typecheck

  deploy:
    name: 游 Deploy
    runs-on: ubuntu-latest
    needs: [lint, typecheck]
    if: github.ref == 'refs/heads/main'

    steps:
      - name: 游 Checkout repo
        uses: actions/checkout@v4

      - name: 游릭 Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: 游닌 Download deps
        uses: bahmutov/npm-install@v1

      - name: 游빔 build
        run: npm run build

      - name: 丘뙖잺 Setup Pages
        uses: actions/configure-pages@v5

      - name: 游닋 Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload entire repository
          path: "./build/client"

      - name: 游 Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
